absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astor
asttokens
attrs
autograd
autograd-gamma
ax-platform
backcall
beautifulsoup4
BioClients
bleach
botorch
cachetools
certifi
cffi
charset-normalizer
chembl-webresource-client
cli-exit-tools
click
cloudpickle
comm
contourpy
cycler
debugpy
decorator
DeepPurpose
defusedxml
descriptastorus @ git+https://github.com/bp-kelley/descriptastorus@86eedc60546abe6f59cdbcb12025a61157ba178d
dgllife
diff-match-patch
dill
Django
django-cors-headers
django-environ
django-import-export
djangorestframework
easydict
entrypoints
et-xmlfile
executing
fastjsonschema
fonttools
formulaic
fqdn
future
google-auth
google-auth-oauthlib
gpytorch
grpcio
hyperopt
idna
interface-meta
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy_loader
lib-detect-testenv
lifelines
linear-operator
Markdown
MarkupPy
MarkupSafe
matplotlib
matplotlib-inline
mistune
mock
multipledispatch
multiprocess
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
odfpy
openpyxl
opt-einsum
packaging
pandas
pandas-flavor
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
prettytable
prometheus-client
prompt-toolkit
protobuf
psutil
psycopg2-binary
ptyprocess
pure-eval
py4j
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyro-api
pyro-ppl
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rdkit
rdkit-pypi
requests
requests-cache
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
subword-nmt
tablib
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
threadpoolctl
tinycss2
torch
tornado
tqdm
traitlets
typeguard
typing_extensions
uri-template
url-normalize
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wget
widgetsnbextension
xarray
xlrd
xlwt
xmltodict